/* -----------------------------------------------------------------------------
// This file includes deliberate errors in order for you to verify that
// Stylelint and EditorConfig are working properly. If both tools are, indeed,
// working correctly, then you’d see various errors in your editor about
// indentation and violations of CSS syntax. When you save this file, your
// editor should strip all excess newlines and whitespace characters from the
// file. If both of these events occur, then Stylelint and EditorConfig are
// working correctly.
//
// DON’T PROCEED UNTIL YOU’RE SURE STYLELINT AND EDITORCONFIG ARE WORKING RIGHT
// -------------------------------------------------------------------------- */

body {
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  font-size: 2rem;
  line-height: 1.1875;
  font-weight: 600;
  text-align: center;
}

.carousel {
  display: flex;
  position: relative;
  width: 640px;
  margin: 0 auto;
  text-align: center;
}

.slide {
  padding: 20px;
  display: none;
}

.carousel-slides {
  display: flex;
}

.carousel-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 30%;
  width: 100%;
}

.slide.active {
  display: block;
}
